.post {
    background: rgb(73, 235, 28);
    color: rgb(77, 149, 225);
    font-family: sans-serif;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 60%;
  }
  
  .scores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .team-name, .vs {
    font-size: 1.5em;
  }
  
  .score {
    background: rgb(18, 18, 18);
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(38, 255, 0);
  }
  
  .post-image {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
  }
  
  .post-image:hover {
    box-shadow: 0 0 10px rgba(66, 58, 58, 0.5);
  }
  